    <h3>Welcome back, <%= @user.first_name %></h3>
    <%= link_to 'Add vacation', new_location_path %></br>

    <%= link_to 'Edit profile', edit_user_path(@user) %></br>

    <%= link_to 'View reviews by occasion', reviews_path %></br>

    <%= link_to 'View reviews by location', locations_path %></br>
</br>

<% @user.locations.each do |location| %>
<%= link_to "Edit #{by_location(location)}", edit_location_path(location) %></br>
<% end %>




    <%= link_to 'Logout', logout_path, method: 'post' %></br>

</br>
    <%= link_to 'Delete Profile', user_path(@user), method: "delete" %>
