    <h3>Welcome back, <%= @user.first_name %></h3>
    <%= link_to 'Add vacation', new_location_path %></br>

    <%= link_to 'Edit profile', edit_user_path(@user) %></br>

    <%= link_to 'View reviews by occasion', reviews_path %></br>

    <%= link_to 'View reviews by location', locations_path %></br>
</br>

<section id="user_reviews">
<% @user.reviews.each do |review| %>
    <% location = review.location %> 
My trip to <%= "#{by_location(review.location)} on #{review.created_at.strftime("%b %d, %Y")}" %> </br>
        <%= link_to 'Edit location', edit_location_path(location) %>
        <%= link_to "Edit my review", edit_review_path(review) %>
</br>
<% end %>
</section>



    <%= link_to 'Logout', logout_path, method: 'post' %></br>

</br>
    <%= link_to 'Delete Profile', user_path(@user), method: "delete" %>
