    <h3>Welcome back, <%= @user.first_name %></h3>
    <%= link_to 'Add vacation', new_location_path %></br>

    <%= link_to 'Edit profile', edit_user_path(@user) %></br>

    <%= link_to 'View reviews by occasion', reviews_path %></br>

    <%= link_to 'View reviews by location', locations_path %></br>
</br>

<% @user.reviews.each do |review| %>
    <% location = review.location %> 
<%= link_to "Edit #{by_location(review.location)}", edit_location_path(review,location) %></br>
<% end %>




    <%= link_to 'Logout', logout_path, method: 'post' %></br>

</br>
    <%= link_to 'Delete Profile', user_path(@user), method: "delete" %>
