<div class='edit-user-container'>
    <h1>Edit your profile</h1>
<% if @user.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this post from being saved:
    </h2>

<ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
</div>
<% end %></br></br>


<%= form_for @user do |f| %>
    First name: <%= f.text_field :first_name %></br>
    Last name: <%= f.text_field :last_name %></br>
    Age: <%= f.text_field :age %></br>
    Email: <%= f.text_field :email %></br>
    Password: <%= f.text_field :password %></br>
    <%= f.submit "Edit user account", class: 'edit-user-btn' %></br>

<% end %></br></br>

<div id="home_button">
    <%= link_to 'Home', home_path, class: 'home-link' %>
</div>
</div>