<div class="main-page-container">
    <h1>Been There</h1>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %>
                prohibited this post from being saved:
            </h2>

        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %></br>
        </ul>
        </div>
    <% end %></br></br>

<%= form_for @user do |f| %>
    <h1>New User Registration</h1></br>
    <%= f.text_field :first_name, placeholder: "First Name" %></br>
    <%= f.text_field :last_name, placeholder: "Last Name" %></br>
    <%= f.text_field :age, placeholder: "Age" %></br>
    <%= f.text_field :email, placeholder: "Email" %></br>
    <%= f.password_field :password, placeholder: "Password" %></br>

<%= f.submit "Create user account" %>

	<% end %>
</br>

<div id="returning_users">
    <h3>Returning Users</h3>
    <%= link_to 'Log In', login_path, class: 'login-btn' %></br></br>
</div>
</div>