
<h1>New User Registration</h1></br>

    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %>
                prohibited this post from being saved:
            </h2>

        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %></br></br>

<%= form_for @user do |f| %>
    First name: <%= f.text_field :first_name %>
    Last name: <%= f.text_field :last_name %>
    Age: <%= f.text_field :age %>
    Email: <%= f.text_field :email %>
    Password: <%= f.password_field :password %></br></br>

<%= f.submit "Create user account" %>

	<% end %>
</br>

<h3>Returning Users</h3>
<%= link_to 'Log In', login_path %>