<h4><%= by_location(@review.location) %></h4></br>

Review created: <%= @review.created_at.strftime("%b %d, %Y") %></br>
Occasion: <%= @review.occasion %></br>
Satisfaction: <%= @review.satisfaction %></br>
Revisit: <%= @review.revisit %></br> 
Suggest: <%= @review.suggest %></br>
Living: <%= @review.living %></br>
Stay length: <%= @review.stay_length %></br>
Food rating: <%= @review.food_rating %></br>
Events: <%= @review.events %></br>
Comments: <%= @review.comments %></br>
Cost level: <%= @review.cost_level %></br>

<%= link_to "Home", home_path %>
<%= link_to "Edit review" %>