<div class='edit-location-container'>
<h1>Edit your Location!</h1>

<% if @location.errors.any? %>
	<div id="error_explanation">
	<h2>
	<%= pluralize(@location.errors.count, "error") %>
	prohibited this location from being saved:
	</h2>
	 
	<ul>
  <% @location.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	</ul>
	</div>
  <% end %>


<%= form_for @location do |f| %>

  Where did you vacation? </br>

  Country: <%= f.text_field :country, list: "countries_autocomplete" %>
  <datalist id="countries_autocomplete">
    <% Location.all.each do |location| %>
      <option value="<%= location.country %>">
    <% end %>
  </datalist></br>

  State: <%= f.text_field :state, list: "states_autocomplete" %>
  <datalist id="states_autocomplete">
    <% Location.all.each do |location| %>
      <option value="<%= location.state %>">
    <% end %>
  </datalist></br>

  Cities: <%= f.text_field :city, list: "cities_autocomplete" %>
  <datalist id="cities_autocomplete">
    <% Location.all.each do |location| %>
      <option value="<%= location.city %>">
    <% end %>
  </datalist></br>

  
<%= f.submit "Edit location", class: 'edit-login-btn' %></br></br>
<% end %>

<%= link_to 'Home', home_path %>
</div>