<h4>Edit your Location!</h4>
<%= form_for @location do |f| %>
  
    Where did you vacation? </br>
  
    Location country: <%= f.text_field :country %> </br>
    Location city: <%= f.text_field :city %> </br>
    Location state: <%= f.text_field :state %> </br>
  <%= f.submit "Edit location" %>
<% end %></br></br>

<%= link_to 'Return home', home_path %>