<h4>Tell us about your Location!</h4>
<%= notice %>
<%= form_for @location do |f| %>

    Where did you vacation? </br>

    Country: <%= f.text_field :country, list: "countries_autocomplete" %>
    <datalist id="countries_autocomplete">
      <% Location.all.each do |location| %>
        <option value="<%= location.country %>">
      <% end %>
    </datalist></br>

    State: <%= f.text_field :state, list: "states_autocomplete" %>
    <datalist id="states_autocomplete">
      <% Location.all.each do |location| %>
        <option value="<%= location.state %>">
      <% end %>
    </datalist></br>

    Cities: <%= f.text_field :city, list: "cities_autocomplete" %>
    <datalist id="cities_autocomplete">
      <% Location.all.each do |location| %>
        <option value="<%= location.city %>">
      <% end %>
    </datalist></br>


    <h4>Location reviews</h4>
    <%= f.fields_for :reviews_attributes do |reviews_attributes| %>
        <%= reviews_attributes.hidden_field :user_id, :value => @user.id %>
    
        What was the occasion for your trip? </br>
        <%= reviews_attributes.radio_button :occasion, 'Family' %>Family </br>
        <%= reviews_attributes.radio_button :occasion, 'Couples' %>Couples </br>
        <%= reviews_attributes.radio_button :occasion, 'Solo getaway' %>Solo getaway </br>
        <%= reviews_attributes.radio_button :occasion, 'Business' %>Business </br>

        How many days were you on vacation? </br>
        <%= reviews_attributes.text_field :stay_length %></br>

        1. How satisfied were you with your trip?</br>
        <%= reviews_attributes.check_box :satisfaction %> The happiest I have ever been on Location(atleast that I can remember!)</br> 
        <%= reviews_attributes.check_box :satisfaction %> I enjoyed myself </br>
        <%= reviews_attributes.check_box :satisfaction %> I know some things that could have used improvement </br>
        <%= reviews_attributes.check_box :satisfaction %> Hey, it was a 'Location' </br>
        <%= reviews_attributes.check_box :satisfaction %> eh, nothing to mention </br>
        2. Would you revisit?</br>
        <%= reviews_attributes.check_box :revisit %> Absolutely </br>
        <%= reviews_attributes.check_box :revisit %> Maybe </br>
        <%= reviews_attributes.check_box :revisit %> Probably not </br>
        3. Would you suggest this location to friends and family?</br>
        <%= reviews_attributes.check_box :suggest %> Yes </br>
        <%= reviews_attributes.check_box :suggest %> No </br>
        4. What were your sleeping arrangements? </br>
        <%= reviews_attributes.check_box :living %> Stayed with family </br>
        <%= reviews_attributes.check_box :living %> Stayed with friends </br>
        <%= reviews_attributes.check_box :living %> Stayed in a hotel </br>
        <%= reviews_attributes.check_box :living %> Stayed in an Air bnb </br>
        5. Rate the food. Overall, on a scale of 1 to 10(10 being the best) it was a: </br>
        <%= reviews_attributes.text_field :food_rating %> </br>
        6. Was the area full of things to do? </br>
        <%= reviews_attributes.check_box :events %> There were events and attractions everywhere! </br>
        <%= reviews_attributes.check_box :events %> You could bump into an event or two without searching </br>
        <%= reviews_attributes.check_box :events %> There are some good events, but you have to search for some or ask around </br>
        <%= reviews_attributes.check_box :events %> There was not much to do, a restaurant here, a bar there </br>
        7. Additional comments: </br>
        <%= reviews_attributes.text_area :comments %> </br>
        8. Cost level (estimation excluding travel and food): </br>
        <%= reviews_attributes.text_field :cost_level %> </br>
    <% end %>
    <%= f.submit "Submit reviews_attributes" %>
  <% end %>
<%= link_to 'Return home', user_path(@user) %>

