<section id="show_location">
<h2><%= by_location(@location) %></h2> </br></br>
<section id= "ratings">
<b>Satisfaction rating:</b> <%= avg_satisfied(@location) %>
<b>Chance of revisit:</b> <%= avg_revisit(@location) %>
<b>Food rating: </b><%= food_rating(@location) %>
<b>Reviews available:</b> <%= @location.reviews.count%></br>
</section>


    <% @location.reviews.order(:occasion).each do |review|%></br>
        <details>
          <summary> <%= "Occasion: #{review.occasion}" %></summary></br>
                    <%= "Review created: #{review.created_at.strftime("%b %d, %Y")}" %></br>
                    created by: <%= link_to "#{review.user.first_name} #{review.user.last_name}", user_path(review.user) %></br>
                    <%= "Number of full days on vacation: #{review.stay_length}" %></br>
                    <%= "Satisfaction(out of 4): #{review.satisfaction}" %></br>      
                    <%= "Chance of revisit: #{num_to_text(review)}" %></br>   
                    <%= "Suggest to others? : #{review.suggest}" %></br>
                    <%= "Living: #{review.living}" %></br>
                    <%= "Food rating(out of 10): #{review.food_rating}" %></br>
                    <%= "Events: #{review.events}" %></br>
                    <%= "Cost level: around #{round_cost_level(review)}" %> </br>
                    <%= "Comments: #{review.additional_info}" %></br> </br>
                    <b>Number of comments:</b> <%= comment_count(review) %></br></br>
                    <% review.comments.each do |comment| %>
                       <b><%= comment.user.first_name %> <%= comment.user.last_name %></b> says: </br>
                        <%= comment.content %>
                    <h5><%= comment.created_at.strftime("at %I:%M %P on %b %d, %Y") %></h5></br></br>
                        <% end %></br>
                    <%= link_to "Add Comment", new_location_review_comment_path(review.location, review.id) %></br></br>
        </details>
                    <% end %></br></br>            
    </br></br>
        
<%= link_to 'Browse by occasion', reviews_path %></br></br>   


<%= link_to 'Home', home_path %>    
</section>


    
        


    
