<h2><%= by_location(@location) %></h2> </br></br>
<section id= "ratings">
<b>Satisfaction rating:</b> <%= avg_satisfied(@location) %>
<b>Chance of revisit:</b> <%= avg_revisit(@location) %>
<b>Food rating: </b><%= food_rating(@location) %>
<b>Reviews available:</b> <%= @location.reviews.count%></br>
</section>


    <% @location.reviews.order(:occasion).each do |review|%></br>
        <details>
          <summary> <%= "Occasion: #{review.occasion}" %></summary></br>
                    <%= "Review created: #{review.created_at.strftime("%b %d, %Y")}" %></br>
                    <%= "Number of full days on vacation: #{review.stay_length}" %></br>
                    <%= "Satisfaction(out of 4): #{review.satisfaction}" %></br>      
                    <%= "Chance of revisit: #{num_to_text(review)}" %></br>   
                    <%= "Suggest to others? : #{review.suggest}" %></br>
                    <%= "Living: #{review.living}" %></br>
                    <%= "Food rating(out of 10): #{review.food_rating}" %></br>
                    <%= "Events: #{review.events}" %></br>
                    <%= "Cost level: #{review.cost_level}" %></br>
                    <%= "Comments: #{review.comments}" %></br>
        </details>            
                    <% end %></br></br>
    
    
        
   
    
<p>Heading for occasion and other attributes</p>

    
        


    
    <p>comment count</p>
    <p>comments</p>
