<%= by_location(@location) %> </br>

    <% @location.reviews.map.with_index do |review,index|%></br>
          <%= "#{index + 1}:" %></br> <%= "Occasion: #{review.occasion}" %></li></br>
                    <%= "Satisfaction: #{review.satisfaction}" %></br>
                    <%= "Comments: #{review.comments}" %></br>  
                    <%= "Revisit: #{review.revisit}" %></br>
                    <%= "Stay Length: #{review.stay_length}" %></br>
                    <%= "Living: #{review.living}" %></br>
                    <%= "Suggestion: #{review.suggest}" %></br>
                    <%= "Food rating: #{review.food_rating}" %></br>
                    <%= "Events: #{review.events}" %></br>
                    <%= "Cost level: #{review.cost_level}" %></br>
                    
                    <% end %></br></br>
    
    Satisfaction rating: <%= avg_satisfied(@location) %> 
    </br></br>
        
    
    <h5>Out of 2</h5>
    Chance of revisit: <%= avg_revisit(@location) %></br>
    
<p>Heading for occasion and other attributes</p>

    
        <p>review count: <%= @location.reviews.count%></p>


    
    <p>comment count</p>
    <p>comments</p>
